
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background: var(--white-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-style: normal;

    line-height: 1.5;
    color: var(--secondary-color);
  }


  section {
    position: relative;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background color */
    padding-bottom: 90px;
    padding-top: 30px;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Adjust the opacity to make the image slightly visible */
    z-index: -1; /* Ensure the image is behind the content */
}

  ul li{
    color: rgb(178, 171, 171);
    font-size: 11px;
    text-transform: capitalize;
  }
  li::marker{
    color: orangered;
  }
  
  span{
    font-size: 10px;
    color: rgb(178, 171, 171);
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
  }
  h2{
font-size: 16px;
  }
  h1{
    color: black;
    font-size: 19px;
    
    text-transform: capitalize;

  }

img{
   
   
    height: 300px;

}




.text {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    line-height: 1rem;
}

.text h1{
  color: white;
}

.text hr {
    margin-left: 48%;
    margin-top: 1.5%;
width: 30px;
height: 1px;
background-color: yellow;
border: none;
}


.classes {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.classes::after{
    font-family: "Font Awesome 5 Free";
    content: "\f35a";
    font-weight: 900;
left: 88%;
top: 45%;
position: absolute;
color: wheat;
}

.classes::before{
    font-family: "Font Awesome 5 Free";
    content: "\f359";
    font-weight: 900;
position: absolute;
right: 88%;
top: 45%;
color: wheat;
}



.classe{
    display: flex;
    flex-direction:column;
    position: relative;
    width: 210px;
}

.classe .time{
    background-color: rgb(101, 193, 101);
    position: absolute;
    color: white;
    font-size: 10px;
  font-family: normal;
  padding: 5px 7px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  top: 37.8%;
  left: 53.6%;
}

.classe img{
    width: 210px;
    height: 130px;

}

.classe .info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    background-color: white;
}

.classe .info strong {
    font-size: 14px;
}


.classe .info .bottom {
    display: flex;
    justify-content: space-between;
    color: rgb(50, 48, 48);
}

.classe .info .bottom span {
    color: rgb(98, 96, 96);
}

