

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background: var(--white-color);
    font-family: var(--body-fonts), sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    color: var(--secondary-color);
  }


  section {
    width: 100%;
    background-color: #EAEAEA;

  }

  ul li{
    color: rgb(178, 171, 171);
    font-size: 11px;
    text-transform: capitalize;
  }
  li::marker{
    color: orangered;
  }
  
  span{
    font-size: 10px;
    color: rgb(178, 171, 171);
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
  }
  h2{
font-size: 16px;
  }
  h1{
    color: white;
    font-size: 19px;
    margin-left: -11px;
    text-transform: capitalize;

  }

  .cards{
    display: grid;
    grid-template-columns:   250px 250px 250px;
padding-top: 5%;
    gap: 100px;
    justify-content: center;
    padding-bottom: 5%;
  }

  .cards .card {
border-radius: 10px;
background-color: white;
max-height: 362px;

  }

  .cards .card .mid {
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cards .card img{
    width: 250px;
    height: 120px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }

  .cards .card .person img {
    width: 30px;
    height: 30px;
    border-radius: 99%;
  }

  .rating  {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }

  .rating .save{
    font-size: 10px;
    border-radius: 99%;
    background-color: #ECECEC;
    padding: 7px 8px;

  }

  .rating .stars i::before{
    font-size:9px ;
    display: block;
    color: orange;
    align-self: center;
  }

  .rating .stars {
    display: flex;
    align-items: center;
    gap: 4px;

  }

  .rating .stars span {
    margin-top: 0px;
  }
  .count {
    display: flex;
    font-size: 10px;
    gap: 9px;
    background-color: #F1F1F1;
    width: 150px;
    justify-content: center;
    padding: 3px 0px;
     }

  .count .first{
    border-right: 1px solid gray;
    padding-right: 5px;
    
  }

  .count i {
    font-size: 10px;
    margin-right: 2px;
  }


  span{

    line-height: 1rem;
    display: block;
  }

  .person 
  {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  .person .text{
    display: flex;
  margin-top: 0px;

  }

  .person .text p{
    color: black;
    margin-left: 3px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding:8px 15px ;
  }

  .bottom .price span{
    text-decoration: line-through;
    margin-top: 0px;
  }

  .bottom  .price {
    display: flex;
    gap: 8px;
  }

  .bottom span {
    margin-top: 0px;
  }

  .bottom p {
    color: #D6093C;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 0px;


  }
